doctype html
html
  include snippets/head.jade
  body.conf
    header.col-xs-12.row
      h1.col-xs-2 
        a(href="/", title="baking.js") baking.js
      h3.col-xs-3  #{title}
      h3.col-xs-2  #{date}
      h3.col-xs-3  #{lieu}
      h3.col-xs-2 #{auteur}
    
    .drop-files-container

    form(enctype="multipart/form-data", id="form")
      input(type="file", name="files[]", multiple="multiple", id="file")
      label(for="file") ⇧


    ul.medias-list

    .lightbox
      .lightbox-inner
        figure.image-lightbox(data-id="")
          img(src="")
      div.close-lightbox X
      div.go-prev.go-btn <
      div.go-next.go-btn >

    .js--templates
      li.image
        img
        div.delete-btn X
        div.open-lightbox ☉
      li.video
        video(autobuffer muted autoplay loop)
          source()
        div.delete-btn X
      li.pdf
        a
        div.delete-btn X
      li.text
        textarea
        div.submit-btn OK
        div.delete-btn X


    div.clear-btn vider

    div.clear-confirm-wrapper
      div.clear-confirm-outside
      div.clear-confirm 
        p Êtes-vous sûr·e de vouloir vider le plan de travail ?
        div#clear-yes.clear-confirm-btn oui
        div#clear-no.clear-confirm-btn non


    div.text-btn T


    include snippets/footer.jade
    script(src='/js/conf.js')