doctype html
html
  include snippets/head.jade
  body(class='index')
    header.col-xs-11.col-xs-offset-1.col-md-offset-1.col-md-10
      h1 baking.js

    div.container
      div.row
        div.left.col-xs-5.col-xs-offset-1.col-md-3.col-md-offset-1
          div.add-new-conf-wrapper
            h2 Créer une conférence
            form(onsubmit='return false;', class='add-new-conf-form')
              input(type="date", class="date", placeholder='Date')
              input(type="text", class="titre", placeholder='Titre')
              input(type="text", class="lieu", placeholder='Lieu')
              input(type="text", class="auteur", placeholder='Auteur(s)')
              input(type='submit', class='js-add-conf', value='Ajouter')
        div.right.col-xs-5.col-md-7
          ul.dossier-list.row
            //- h2 Conférences

    .js--templates.row
      li.dossier.col-xs-12.col-md-4(data-nom)
        .dossier-inside
          .content
            a.folder-link(href title)
              h3.title
          .meta-data
            .date
              h4 date&nbsp;:
              span
            .auteur
              h4 auteur&nbsp;:
              span
            .lieu
              h4 lieu&nbsp;:
              span
            
            


    include snippets/footer.jade
    //- specific scripts
    script(src="/js/index.js")
