@charset "UTF-8";
@font-face {
  font-family: "nanook";
  src: url("../fonts/nanook_bold-webfont.eot");
  src: url("../fonts/nanook_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nanook_bold-webfont.woff2") format("woff2"), url("../fonts/nanook_bold-webfont.woff") format("woff"), url("../fonts/nanook_bold-webfont.ttf") format("truetype"), url("../fonts/nanook_bold-webfont.svg#nanookbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "nanook";
  src: url("../fonts/nanook-webfont.eot");
  src: url("../fonts/nanook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nanook-webfont.woff2") format("woff2"), url("../fonts/nanook-webfont.woff") format("woff"), url("../fonts/nanook-webfont.ttf") format("truetype"), url("../fonts/nanook-webfont.svg#nanookregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

body, html {
  height: 100%;
  font-family: "nanook", serif;
}

li {
  list-style: none;
}

body {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-family: "nanook", serif;
  line-height: 1.2;
}

body.index {
  background: #0027a4;
  color: #FFF;
}

.index header h1 {
  font-size: 6em;
  color: #FFF;
  font-weight: normal;
}
.index .left {
  padding: 0;
}
.index .add-new-conf-wrapper {
  background: #FFF;
  color: #0027a4;
  padding: 20px;
}
.index .add-new-conf-wrapper h2 {
  margin-top: 0;
  font-weight: normal;
}
.index .add-new-conf-wrapper input {
  border: 1px solid #0027a4;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}
.index .add-new-conf-wrapper input[type=submit] {
  background: yellow;
  color: #0027a4;
  cursor: pointer;
  transition: all 0.3s linear;
}
.index .add-new-conf-wrapper input[type=submit]:hover {
  background: #0027a4;
  color: #FFF;
}
.index .dossier-list {
  margin-top: 0;
}
.index .dossier-list li.dossier {
  color: #0027a4;
  padding-right: 20px;
  margin-bottom: 20px;
}
.index .dossier-list li.dossier .dossier-inside {
  padding: 20px 0;
  background: #FFF;
}
.index .dossier-list li.dossier a {
  color: #0027a4;
  text-decoration: none;
  display: block;
  border-bottom: 1px dashed #0027a4;
  padding: 0 20px;
}
.index .dossier-list li.dossier h3 {
  margin: 0 0 10px 0;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
}
.index .dossier-list li.dossier .meta-data {
  padding: 0 20px;
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
}
.index .dossier-list li.dossier .meta-data > div {
  margin-bottom: 10px;
}

body.conf {
  overflow: hidden;
}
body.conf header {
  padding: 10px 20px;
}
body.conf header h1 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}
body.conf header h1 a {
  color: #0027a4;
  text-decoration: none;
}
body.conf header h3 {
  font-size: 1.2em;
  margin: 0;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
  color: #0027a4;
  text-align: center;
}
body.conf input {
  opacity: 0;
}

.drop-files-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  top: 0;
  left: 0;
}
.drop-files-container.dragover {
  background: yellow;
  opacity: 0.5;
}

.medias-list {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.medias-list li {
  top: 0;
  left: 0;
  width: 25%;
  position: absolute !important;
  display: none;
}
.medias-list li[data-orientation=paysage] {
  width: 40%;
}
.medias-list li[data-orientation=portrait] {
  width: 25%;
}
.medias-list li img, .medias-list li video {
  width: 100%;
}
.medias-list li.pdf {
  background: #FFF;
  border: 1px dashed #0027a4;
  padding: 20px;
  width: auto;
}
.medias-list li.pdf a {
  color: #0027a4;
  text-decoration: none;
}
.medias-list li.pdf a:before {
  content: "📄";
  margin-right: 5px;
  font-size: 1.5em;
}
.medias-list li:hover {
  cursor: grab;
}
.medias-list li:hover .delete-btn {
  display: block;
}
.medias-list li .delete-btn {
  display: none;
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  color: #0027a4;
  border: 1px solid #0027a4;
  border-radius: 50%;
  padding: 7px 12px;
  top: -15px;
  right: -15px;
  background: #FFF;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.2s linear;
}
.medias-list li .delete-btn:hover {
  background: #0027a4;
  color: #FFF;
}
.medias-list li .zoom-btn {
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  color: #0027a4;
  bottom: 0;
  right: 0;
  background: #FFF;
  font-size: 1.2em;
  cursor: pointer;
  background: transparent;
}

.clear-btn {
  position: absolute;
  z-index: 9990;
  background: #FFF;
  color: #0027a4;
  padding: 10px 20px;
  border: 1px dashed #0027a4;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.clear-btn:hover {
  background: #0027a4;
  color: #FFF;
}

.clear-confirm-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99990;
  display: none;
}
.clear-confirm-wrapper .clear-confirm-outside {
  background: #0027a4;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
}

.clear-confirm {
  position: fixed;
  z-index: 99999;
  background: #FFF;
  color: #0027a4;
  border: 1px dashed #0027a4;
  padding: 20px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -100%);
}
.clear-confirm p {
  margin: 0 0 20px 0;
}
.clear-confirm .clear-confirm-btn {
  border: 1px solid #0027a4;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.clear-confirm .clear-confirm-btn:hover {
  background: #0027a4;
  color: #FFF;
}

.js--templates {
  display: none;
}