script(src='/socket.io/socket.io.js')
script(src='/js/libs/jquery-3.4.1.min.js')
script(src='/js/libs/jquery-ui.min.js')
script(src='/js/libs/jquery.ui.touch-punch.min.js')
script(src='/bower_components/foundation/js/foundation.min.js')
script( src='/js/settings.js')