head
  link(rel='stylesheet', href='/js/libs/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/normalize.css')
  link(rel='stylesheet', href='/css/flexboxgrid.css')
  link(rel='stylesheet', href='/css/style.css')
  title #{title}